form{
  position:relative;
  margin:10px 5px;
  width:580px;
  height:100vh;
}

form p{
  float: left;
  display: inline-block;
  line-height:18px;
  padding:5px;
  width:150px;
}

form input, textarea{
  font-size: 16px;
  float: right;
  box-sizing: border-box;
  padding:5px;
  margin:1px 0;
  border:none;
  width:400px;
}

textarea::-webkit-scrollbar{
  width:6px;
  background-color: #555555;
  border: none;
}

textarea::-webkit-scrollbar-button {display:none;}

.free{clear:right;}

input.btn{
  position:absolute;
  font-size:16px;
  line-height: 16px;
  text-align:center;
  letter-spacing: 20px;;
  width:120px;
  height:25px;
  padding-left:25px;
  margin:15px 0 0 227px;;
  border:groove 2px rgba(255,255,255,0.3);
  border-radius:5px;
}

input.btn:hover{
  opacity: 0.6;
  transition:all 0.5s;
}















/**/
