.contents{
  height:600px;
  width:800px;
  margin:60px auto 10px auto;
  border:solid 1px rgba(0,0,0,0.3);
}

main .left{
  float: left;
  position: relative;
  width:230px;
  height: 100%;
}

main .logo{
  position: absolute;
  height:130px;
  width:220px;
  margin: 10px 5px;
  background-color: orange;
  border-radius:80%;
}

.change-log{
  position: absolute;
  bottom:0;
  width:220px;
  height:300px;
  margin:5px;
  border:solid 1px rgba(0,0,0,0.3);
  overflow-y:scroll;
}

main .text-box{
  box-sizing: border-box;
  height:100%;
  width:100%;
  padding:5px;
}

main h2{
  border-bottom: solid 1px rgba(0,0,0,0.3);
}

main .tytle{
  padding-top:5px;
}

main .min{
  text-align: right;
  padding:2px;
  border-bottom: solid 1px rgba(0,0,0,0.3);
}

main .right{
  height:100%;
  width:570px;
  float:right;
  background-image: url("top.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.new-illust{
  height:300px;
}

.min-illust{
  width:98%;
  height:280px;
  margin:10px auto;
  border:solid 1px rgba(0,0,0,0.3);
}

.set{
  float: left;
  width:50%;
  height:50%;
  margin:0;
}

.comment{
  box-sizing: border-box;
  background-clip: content-box;
  height:100%;
  padding-top: 105px;
  width:100%;
  opacity: 0;
}

.title h2{
  margin:10px;
}

.tytle spam{
  font-size: 15px;
  letter-spacing: .5em;
  margin-left: 80px;
}

.comment h3{
  float:left;
  padding:0 10px;
  line-height: 35px;
}

.comment p{
  float: right;
  margin:0 10px;
  line-height: 35px;
}

.comment:hover{
  opacity: 0.6;
  transition: 1s;
}

















/**/
